*{
    max-width: 100%;
    list-style: none;
    
}

.fruit-tray{
    max-width: 30%; 
    position: absolute;
    top: 600px;
   
        
}

#About-section {
    padding-bottom: 50px;
    right: 50%;
    background-image: whitesmoke;
}

.center-containers {
    position: relative;
    /* text-align: center; */
    color: white;
  
  }
.circle {
    width: 100%;
    border-radius: 50%;
    line-height: 0;
    background-color: orange;
    position: relative;       
  }

  .circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    
  }

  .circle-txt {
    
   bottom: 50;
    width: 100%;
    text-align: center;
        
  }  
 
   


/* .top-image {
    position: absolute; top: px; left: 0px;max-width: 50%; 
} */
.top-menu {
    display: flex;  
    float: right;
    margin: 30px;  
    left:0;
}

.top-right-section{
    width: 70%
}

.top-menu-link {
    color: white;
    border: 1px solid;    
    text-decoration: none;
    font-weight: bold;
    text-align: center;

}

.top-head{
    display: flex;
}
/* .top-float {
    display: flex;
} */

#orange-bg {
    background-color: orange;
    padding: 6px;
}

#green-bg {
    background-color: green;
    padding: 6px;
}

#red-bg {
    background-color: red;
    padding: 8px;
}
#yellow-bg {
    background-color: #FF7900;
    padding: 10px;
}

#Publications-section{
    background-image: linear-gradient(to bottom,#56ab2f, #a8e063);

}
.publication-image {
    margin-top: 00px;
    
}

.border {
    margin: 40px;
    height: auto;
    width: 120px;
    background-color: #006400;
    padding: 40px

}

.button {
    text-align: center;
    border-radius: 15px ;
    border: 1px solid white;
    /* padding: 5px */
  }

  #Menu{ background-color: honeydew;
       }
  .container {
      display: flex;
     
      
  }  
  
  .list-of-menu {
      margin: 0%;
      padding: 0%;
  }
  .image-of-food{
      margin: 0;
  }

  hr.solid {
    border-top: 3px solid orange;
  
  }
  
  .list-style{
      padding: 56px;
      text-align: center;
      color: rosybrown;
      font-size: small;
      font-weight: lighter;
  }
/* li {
    
} */



  .center-container {
    position: relative;
    /* text-align: center; */
    color: white;
    padding: 60px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .xand{
    height: 200px;
    width: 200px;
    border-radius: 50%; 
    background: whitesmoke;
     
 }
 .xand h1 {
     color: orangered;
     font-size: 4rem;
 }


  @media screen and (max-width: 900px) {
*{
    text-align: center;
}
    .container {
    display: grid;
}

.top-menu {
    display: flex;  
    
    left:0;
}

.top-head{
    display: none;
}
  }
