*{
    
    list-style: none;
    
}

.fruit-tray{
    max-width: 25%; 
    position: absolute;
    top: 600px;
   
        
}

#About-section {
    padding-bottom: 50px;
    right: 50%;
    background-image: whitesmoke;
}

.center-containers {
    position: relative;
    /* text-align: center; */
    color: white;
  
  }
.circle {
    width: 100%;
    border-radius: 50%;
    line-height: 0;
    background-color: orange;
    position: relative;       
  }

  .circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    
  }

  .circle-txt {
    
   bottom: 50;
    width: 100%;
    text-align: center;
        
  }  

.top-menu {
    display: flex;  
    float: right;
    margin: 30px;
    margin-right: 30%;  
    left:0;
}

.top-right-section{
    width: 50%;
    margin-left: 40%;
}

.top-menu-link {
    color: white;
    border: 1px solid;    
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 130px;

}

.top-head{
    display: flex;
}
/* .top-float {
    display: flex;
} */

#orange-bg {
    background-color: orange;
    padding: 6px;
}

#green-bg {
    background-color: green;
    padding: 6px;
}

#red-bg {
    background-color: red;
    padding: 8px;
}
#yellow-bg {
    background-color: #FF7900;
    padding: 10px;
}

#Publications-section{
    background-image: linear-gradient(to bottom,#56ab2f, #a8e063);
    text-align: center;
}
.publication-image {
    /* top: -40px; */
    
}

.border {
    margin-top: -100px;
    margin-left: 180px;
    height: auto;
    width: 120px;
    background-color: #006400;
    padding: 60px

}

.button {
    text-align: center;
    border-radius: 15px ;
    border: 1px solid white;
    padding: 5px;  
    margin: 10px;
  }

  .loud{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #other {
    
        }
        #other:hover{
         background-color:#4095c6;
        }


  #Menu{ background-color: honeydew;
       }
  .container {
      display: flex;
     
      
  }  
  
  .list-of-menu {
      margin: 0%;
      padding: 0%;
  }
  .image-of-food{
      margin: 0;
  }

  hr.solid {
    border-top: 3px solid orange;
  
  }
  
  .list-style{
      padding: 56px;
      text-align: center;
      color: rosybrown;
      font-size: small;
      font-weight: lighter;
  }
/* li {
    
} */



  .center-container {
    position: relative;
    /* text-align: center; */
    color: white;
    padding: 60px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .xand{
    height: 200px;
    width: 200px;
    border-radius: 50%; 
    background: whitesmoke;
     
 }
 .xand h1 {
     color: orangered;
     font-size: 4rem;
 }


  @media screen and (max-width: 900px) {
.fruit-tray{
    display: none;
    
}
    .container {
    display: grid;
}

.top-menu {
    display: flex; 
    justify-content: center; 
    margin: 0;
    left:0;
    float: none;
}

.top-head{
    display: grid;
} 

  .center-container {
    position: relative;
    /* text-align: center; */
    color: white;
    width: 100%;
    padding: 0;
  
  }
  .list-of-menu {
    justify-content: center;
    padding: 0%;
}
  .list-style{
    padding: 30px;
    text-align: center;
    color: rosybrown;
    font-size: small;
    font-weight: lighter;
}

.top-right-section {
    width: 100%;
    margin-left: 0%;
}
.lop {
    text-align: center;
    }
    .publication-image img{
        width: 100%;
    }
    .centered p {
        display: none;
    }
.circle{
    display: none;
}

.border {
    margin-top: -100px;
    margin-left: 50px;
    margin-top: -50px;
    height: auto;
    width: 120px;
    background-color: #006400;
    

}

}

